
body {
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
    }
section {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    }
