{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div style="height: 85vh; text-align: center; display: flex; justify-content: center; align-items: center;">
                <h1>Crypto Candle Chart</h1>
            </div>
        </div>
        <div class="col-2"> </div>
    </div>
{% endblock %}
