{% extends "base.html" %}

{% block plot_js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block chart_menu %}
<form class="form-inline" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row mx-auto">
        <div class="col px-1">
            {{ form.pair() }}
        </div>
        <div class="col px-1">
            {{ form.interval() }}
        </div>
        <div class="col px-1">
            {{ form.depth() }}
        </div>
        <div class="col px-1">
            {{ form.submit() }}
        </div>



    </div>
</form>
{% endblock %}

{% block chart %}
<div class="plot">
    {{ chart|safe }}
</div>
{% endblock %}